In [9]:
import pandas as pd

# Load train and test CSV files into DataFrames
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')

train_df.sample(10)

         user    item  rating
48215    5694  123752     5.0
53954    6707  135679     5.0
109904  17090   49958    10.0
378403  75011   26465     7.0
66051    8368   45151     6.0
72731    9378  115860    10.0
272152  51567  139080     8.0
40666    4475   26052     9.0
92403   12864   31099     7.0
244532  45816   58749     5.0

In [10]:
rating_distribution = train_df['rating'].value_counts().sort_index()
print(rating_distribution)

1.0      1592
2.0      2478
3.0      5423
4.0      8042
5.0     45231
6.0     33489
7.0     69102
8.0     93366
9.0     60507
10.0    71121
Name: rating, dtype: int64

In [11]:
import numpy as np
from datetime import datetime

# Normalize the rating distribution to get probabilities
rating_probs = rating_distribution / rating_distribution.sum()

# Generate ratings for the test DataFrame based on the train distribution
test_df['rating'] = np.random.choice(rating_distribution.index, size=len(test_df), p=rating_probs)

# Prepare the output file path with a timestamp
timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')
output_path = f'../out/result_{timestamp}.csv'

# Export the result to an Excel file
test_df[['ID', 'rating']].to_csv(output_path, index=False)

print(f"File saved to {output_path}")
test_df.sample(10)

File saved to ../out/result_20250327_202144.csv

          ID  user   item  rating
6011    6011   279    592     6.0
12159  12159  4244  13666     8.0
26466  26466  3814  11350     8.0
12322  12322  4943   2843     9.0
32978  32978  9269    986     7.0
42136  42136  2496   5186     8.0
31712  31712  4201  13382     8.0
42910  42910  9707  13030     9.0
5916    5916  2058   7630     8.0
21979  21979  8793    267     7.0

In [14]:
# Calcular la moda de las calificaciones en el DataFrame de entrenamiento
rating_mode = train_df['rating'].mode()[0]

# Asignar la moda como calificación para todos los registros en el DataFrame de prueba
test_df['rating'] = rating_mode

# Exportar el resultado a un archivo CSV
timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')
output_path = f'../out/result_{timestamp}.csv'
test_df[['ID', 'rating']].to_csv(output_path, index=False)

print(f"File saved to {output_path}")
test_df.sample(10)

File saved to ../out/result_20250327_202401.csv

          ID   user   item  rating
39318  39318   5353  15739     8.0
22481  22481   9475   4925     8.0
24353  24353   7836   2190     8.0
33426  33426    534   1847     8.0
30959  30959   1907   4405     8.0
8771    8771    593   3782     8.0
36209  36209  10657  24630     8.0
28985  28985   5659  11791     8.0
14150  14150   3154   5708     8.0
9253    9253   7906   9151     8.0